//

	Author: 沈维忠 ( Shen Weizhong / Tony Stark ).

	Version: 0.1.0-alpha

	Creation Date: ~ ( Tony ).

	Last Update: 2014.05.10 14:11 ( Tony ).



// #TODO[x]: Add Normalize.
+ie('if lt IE 9]', '[endif')
	link(rel='stylesheet', href='css/normalize/1.1.3/normalize.min.css')
+ie('if gte IE 9]><!--', '--<![endif')
	link(rel='stylesheet', href='css/normalize/3.0.0/normalize.min.css')

// #TODO[x]: Add CSS Reset
link(rel='stylesheet', href='css/reset_css/2.0/css.reset.css')



// #TODO[x]: Add Global
link(rel='stylesheet', href='css/m.5i5dai.com_framework/scaffolding/global.css')

// #TODO[x]: Add Grid · Fixed
link(rel='stylesheet', href='css/m.5i5dai.com_framework/scaffolding/grid.fixed.css')

// #TODO[x]: Add Grid · Fluid
link(rel='stylesheet', href='css/m.5i5dai.com_framework/scaffolding/grid.fluid.css')

// #TODO[x]: Add Util
link(rel='stylesheet', href='css/m.5i5dai.com_framework/scaffolding/util.css')



// #TODO: Add Base · Header


// #TODO: Add Base · Paragraph


// #TODO: Add Base · Link

// #TODO: Add Base · Button


// #TODO: Add Base · Table


// #TODO: Add Base · Form


// #TODO: Add Base · Abbreviation


// #TODO: Add Base · Blockquote


// #TODO: Add Base · Image


// #TODO: Add Base · List


// #TODO: Add Base · Microformat


// #TODO: Add Base · Typography



// Animate
link(rel='stylesheet', href='//resource.fenqimall.com/ajax/libs/css/animate_css/animate.min.css')



// #TODO[x]: Add Master



// #TODO[x]: Add Media Query · Print
link(rel='stylesheet', href='css/m.5i5dai.com_framework/media_query/print.css')