//

	Author: 沈维忠 ( Shen Weizhong / Tony Stark ).

	Version: 0.1.0-alpha

	Creation Date: ~ ( Tony ).

	Last Update: 2014.06.13 16:00 ( Tony ).



// #TODO[x]: Add Normalize.
+ie('if lt IE 9]', '[endif')
	link(rel='stylesheet', href='../../public/ajax/libs/css/normalize/1.1.3/normalize.min.css')
+ie('if gte IE 9]><!--', '--<![endif')
	link(rel='stylesheet', href='../../public/ajax/libs/css/normalize/3.0.0/normalize.min.css')

// #TODO[x]: Add CSS Reset
+importCSS(false, 'css/reset_css/2.0/css.reset.css')



// #TODO[x]: 'm.5i5dai.com' framework.
+importCSS(false, 'css/m.5i5dai.com_framework/m.5i5dai.com_framework.css')

// Animate
+importCSS(true, 'css/animate_css/animate.min.css')