extends ../master/master

block title

	title 我爱我贷网 · 微站点 · 首页 · 亨元金融

block private-head-javascript

block content

block private-body-script


// ___________  ______    _____  ___   ___  ___
//("     _   ")/    " \  (\"   \|"  \ |"  \/"  |
// )__/  \\__/// ____  \ |.\\   \    | \   \  /
//	\\_ /  /  /    ) :)|: \.   \\  |  \\  \/
//	|.  | (: (____/ // |.  \    \. |  /   /
//	\:  |  \        /  |    \    \ | /   /
//	 \__|   \"_____/    \___|\____\)|___/ 沈维忠 ( Shen Weizhong / Tony Stark ).
//
//* Version: 0.1.0-alpha
//
//* Creation Date: 2014.06.13 16:31 ( Tony ).
//
//* Last Update: 2014.06.13 16:32 ( Tony ).
