extends ../master/master

block title

	title(itemprop='name') 我爱我贷网 · 微站点 · 投资项目详情 · 亨元金融

block private-stylesheet

	+importCSS(false, 'css/m.5i5dai.com/project.detail.css')

block private-head-javascript

block content

	// Promo
	div.row.promo.wow.fadeInDown

	// Project ID
	div.row.wow.fadeInDown

		div.relative.small-24.columns.projectID

			h3 投资项目

			span.absolute 项目编号：13032800066

	// Project · Invest Details
	div.row.wow.fadeInDown.investDetail

		div.relative.small-12.columns.border_box

			| 预期年化利率：

			span 8.61%

		div.relative.small-12.columns.border_box

			| 期限：

			span 24

			| 个月

		div.relative.small-12.columns.border_box 起息日：T（成交日）+1天

		div.relative.small-12.columns.border_box 获取收益方式：每月等额本息

		div.relative.small-12.columns.border_box 保险：民安保险

		div.relative.small-12.columns.border_box

			| 交易手续费：

			span 0.00

			| 元

		div.relative.small-12.columns.left.border_box

			| 预期投资总收益：

			span 83.00

			| 元

	// Project · Invest Announcement
	div.row.wow.fadeInDown

		div.relative.small-24.columns.border_box.investAnnouncement

			p.fullWidth 此项目为“汇通-安心贷”个人借贷服务

			p.fullWidth “汇通-安心贷”项目资金由保险公司全额承保。持有该项目并完成3 期以上收款（含3期）可转让。

	// Payment Plan
	div.row.wow.fadeInDown

		div.relative.small-24.border_box.columns.paymentPlan

			h3.fullWidth 收款计划

			// Table Header
			div.clearfix.tableHeader

				div.text-center.left.sp1 期次

				div.text-center.left.sp2 收款日

				div.text-center.left.sp3 应收本息(元)

				div.text-center.left.sp4 应收本息(元)

				div.text-center.left.sp5 应收本息(元)

			// Table Row
			- for (var i = 1; i <= 15; i++)

				div.clearfix.tableRow

					div.text-center.left.sp1= i

					div.text-center.left.sp2 2014-06-16

					div.text-center.left.sp3

						span 243.00

					div.text-center.left.sp4 25,000.00

					div.text-center.left.sp5

						span 17.00


block private-body-script

	+jsloader(false, 'js/m.5i5dai.com/project.detail.min')


// ___________  ______    _____  ___   ___  ___
//("     _   ")/    " \  (\"   \|"  \ |"  \/"  |
// )__/  \\__/// ____  \ |.\\   \    | \   \  /
//	\\_ /  /  /    ) :)|: \.   \\  |  \\  \/
//	|.  | (: (____/ // |.  \    \. |  /   /
//	\:  |  \        /  |    \    \ | /   /
//	 \__|   \"_____/    \___|\____\)|___/ 沈维忠 ( Shen Weizhong / Tony Stark ).
//
//* Version: 0.1.0-alpha
//
//* Creation Date: 2014.06.19 16:31 ( Tony ).
//
//* Last Update: 2014.06.19 17:33 ( Tony ).