extends ../master/master

block title

	title(itemprop='name') 我爱我贷网 · 微站点 · 注册协议 · 亨元金融

block private-stylesheet

	+importCSS(false, 'css/m.5i5dai.com/registration.protocol.css')

block private-head-javascript

block content

	// ???????
	div.row.wow.fadeInDown.protocol

		div.small-24.columns.border_box

			h4 我爱我贷网用户注册协议

			div.announcement 欢迎阅读我爱我贷网用户注册协议（“本协议”或“本注册协议”）。  本用户注册协议（“本协议”）的协议双方为： 我爱我贷网：由上

			- for (var i = 0; i < 15; i ++)

				p 注册协议（“本协议”或“本注册协议”）。  本用户注册协议（“本协议”）的协议双方为： 我爱我注册协议（“本协议”或“本注册协议”）。  本用户注册协议（“本协议”）的协议双方为： 我爱我

block private-body-script

	+jsloader(false, 'js/m.5i5dai.com/registration.protocol.min')


// ___________  ______    _____  ___   ___  ___
//("     _   ")/    " \  (\"   \|"  \ |"  \/"  |
// )__/  \\__/// ____  \ |.\\   \    | \   \  /
//	\\_ /  /  /    ) :)|: \.   \\  |  \\  \/
//	|.  | (: (____/ // |.  \    \. |  /   /
//	\:  |  \        /  |    \    \ | /   /
//	 \__|   \"_____/    \___|\____\)|___/ 沈维忠 ( Shen Weizhong / Tony Stark ).
//
//* Version: 0.1.0-alpha
//
//* Creation Date: 2014.06.19 17:43 ( Tony ).
//
//* Last Update: 2014.06.19 18:14 ( Tony ).