<!DOCTYPE html><!--[if IE 7]><html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="zh"><![endif]-->
<!--[if IEMobile 7]><html class="no-js iem7" lang="zh" itemscope itemtype="http://schema.org/WebPage" manifest="../../manifest.appcache"><![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="zh"><![endif]-->
<!--[if IE 9]><html class="ie ie9 ie-lt10 no-js" lang="zh" itemscope itemtype="http://schema.org/WebPage"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)]><!-->
<html lang="zh" itemscope itemtype="http://schema.org/Organization" class="ie-gt9 no-js"><!--<![endif]-->
  <head>
    <!--
    Maybe we can remove meta charset.
    Use the server configs or sets the proper value for the HTTP header.
    https://github.com/h5bp/html5-boilerplate/pull/1520
    -->
    <meta charset="utf-8">
    <meta target="_self">
    <title itemprop="name">我爱我贷网 · 微站点 · 首页 · 亨元金融</title>
    <!-- Pre-Resolve DNS Snippet-->
    <!--
    Build Passing.
    Doctype: HTML5
    Jade: 1.3.0+
    #TODO[x]: Pre-Resolve DNS
     Firefox 3.5+, Chrome, Safari 5+ and IE 9+
     Conditional comments were disabled in IE10.
     However, IE10+ are much less buggy than the earlier ones.
     So I supposed that they are the browser just like google 
     browser(A Level).
     
    Author: 沈维忠 ( Shen Weizhong / Tony Stark ).
    
    Version: 0.1.0-alpha
    
    Creation Date: ~ ( Tony ).
    
    Last Update: 2014.06.13 15:42 ( Tony ).
    
    -->
    <meta http-equiv="x-dns-prefetch-control" content="off"><!--[if gt IE 9]><!-->
        <link rel="dns-prefetch" href="//www.google-analytics.com/">
        <link rel="dns-prefetch" href="//s17.cnzz.com/">
        <link rel="dns-prefetch" href="//resource.fenqimall.com/"><!--<![endif]-->
    <!-- Offical: IE = EmulateIE7, IE = 10, IE = edge, chrome = 1-->
    <meta http-equiv="X-UA-Compatible" content="ie = edge, chrome = 1">
    <!--
    IOS Safari: Fixed in iOS 7.1 beta 2, A property, minimal-ui, has been added for 
    the viewport meta tag key that allows minimizing the top and bottom bars on the 
    iPhone as the page loads. While on a page using minimal-ui, tapping the top bar 
    brings the bars back. Tapping back in the content dismisses them again. 
    Reference, 
    http://www.everythingicafe.com/forum/threads/lets-talk-ios-7-1-beta-2.104595/
    -->
    <meta name="viewport" content="width = device-width, initial-scale = 1, minimal-ui">
    <meta name="HandheldFriendly" content="true">
    <!-- Microsoft introduced the MobileOptimized tag for the PocketPC-->
    <meta name="MobileOptimized" content="640">
    <!--
    Mobile Internet Explorer allows us to activate ClearType technology for 
    smoothing fonts for easy reading
    -->
    <meta http-equiv="cleartype" content="on">
    <link rel="canonical" href="http://m.5i5dai.com/">
    <meta name="url" content="http://m.5i5dai.com/">
    <meta name="identifier-URL" content="http://m.5i5dai.com/">
    <meta name="linkage" content="http://m.5i5dai.com/">
    <!-- production: content = "all"; development: content = "none".-->
    <meta name="Robots" content="all">
    <!-- production: content = "public"; development: content = "no-cache".-->
    <meta http-equiv="cache-control" content="public">
    <!-- production: content = "max-age"; development: content = "0".-->
    <meta http-equiv="expires" content="max-age">
    <meta http-equiv="windows-Target" content="_top">
    <!-- TODO[]: meta · keywords-->
    <meta name="keywords" content="">
    <!-- TODO[]: meta · description-->
    <meta name="description" content="">
    <!-- TODO[]: meta · copyright-->
    <meta name="copyright" content="">
    <!-- Site Icon-->
    <!--
    Build Passing.
    Doctype: HTML5
    Jade: 1.3.0+
    #TODO[x]: Site Icon
     eg: http://www.example.com/logo.[png | jpg | gif | svg]
     'address bar icon', IE5~7, eg: http://www.example.com/image.ico
    #TODO[x]: Site Icon Setup Example
     - var opts = {
      a: {
       rel: 'logo',
       type: 'image/svg',
       href: staticBase + 'logo.svg'
      },
      b: {
       rel: 'icon',
       type: 'image/png',
       href:  staticBase + 'logo-32x32.png'
      },
      c: {
       rel: 'icon',
       type: 'image/gif',
       href:  staticBase + 'logo-32x32.gif'
      },
      d: {
       rel: 'icon',
       type: 'image/jpg',
       href:  staticBase + 'logo-32x32.jpg'
      },
      e: {
       rel: 'icon',
       type: 'image/vnd.microsoft.icon',
       href:  staticBase + 'favicon.ico'
      },
      f: {
       rel: 'shortcut icon',
       type: 'image/x-icon',
       href:  staticBase + 'favicon.ico'
      },
      g: {
       rel: 'address bar icon',
       type: 'image/x-icon',
       href:  staticBase + 'favicon.ico'
      }
     }
     
    Author: 沈维忠 ( Shen Weizhong / Tony Stark ).
    
    Version: 0.1.0-alpha
    
    Creation Date: ~ ( Tony ).
    
    Last Update: 2014.06.13 16:12 ( Tony ).
    
    -->
    <link rel="logo" type="image/svg" href="../../logo.svg">
    <link rel="icon" type="image/png" href="../../logo-32x32.png">
    <link rel="icon" type="image/gif" href="../../logo-32x32.gif">
    <link rel="icon" type="image/jpg" href="../../logo-32x32.jpg">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../../favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico"><!--[if lt IE 8]>
    <link rel="address bar icon" type="image/x-icon" href="../../favicon.ico"><!<![endif]-->
    <!-- Apple Meta Tag-->
    <!--
    Build Passing.
    Doctype: HTML5
    Jade: 1.3.0
    #TODO[x]: Basic Apple-Specific Meta Tag
     'apple-mobile-web-app-capable',
      sets whether a web application runs in full-screen mode. The 
      ' apple-touch-fullscreen ' alias is obsolete. It was never 
      officially supported. As of iOS 7, it no longer works. 
      Don’t use it.
     'apple-mobile-web-app-status-bar-style'
      sets the style of the status bar for a web application.
      eg: content="default"|"black"|"black-translucent".
     'apple-mobile-web-app-title', IOS6+
     'format-detection'
    #TODO[x]: Basic Setup Example
     - var basic = {
      'apple-mobile-web-app-capable': 'yes',
      'apple-mobile-web-app-status-bar-style': 'black',
      'apple-mobile-web-app-title': '',
      'format-detection': 'telephone=yes'
     }
    #TODO[x]: Apple Touch Icon ( Webpage Icons for Web Clip ):
     <link rel="apple-touch-icon" href="apple-touch-icon.png">,
      non-Retina iPhone, iPod Touch, and Android 2.1+ devices
     sizes="57x57",
      non-Retina iPhone, iPod Touch, and Android 2.1+ devices
     sizes="72x72",
      iOS ≤ 6, iPad mini and the first- and second-generation iPad
     sizes="76x76",
      iOS7+, iPad mini and the first- and second-generation iPad
     sizes="114x114",
      iOS ≤ 6, iPhone with high-resolution Retina display
     sizes="120x120",
      iOS7+, Retina-display iPhones
     sizes="144x144",
      iOS ≤ 6, iPad with high-resolution Retina display
     sizes="152x152",
      iOS7+, Retina-display iPad
    #TODO[x]: Touch Icon Setup Example
     - var icon = [
      '57x57',
      '72x72',
      '76x76',
      '114x114',
      '120x120',
      '144x144',
      '152x152'
     ]
    #TODO[x]: Apple Startup Image ( In order to use a startup image,
     your page must be web app capable. That means setting the 
     apple-mobile-web-app-capable meta attribute. )
     size='320x460', iPhone
     size='640x920', iPhone, retina
     size='640x1096', iPhone 5/5s
     size='768x1004', iPad, portrait
     size='748x1024', iPad, landscape
     size='1536x2008', iPad, retina, portrait
     size='1496x2048', iPad, retina, landscape
    #TODO[x]: Startup Image Setup Example
     - var image = {
      a: {
       size: '320x460',
       media: '(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)'
      },
      b: {
       size: '640x920',
       media: '(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)'
      },
      c: {
       size: '640x1096',
       media: '(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)'
      },
      d: {
       size: '768x1004',
       media: '(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)'
      },
      e: {
       size: '748x1024',
       media: '(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)'
      },
      f: {
       size: '1536x2008',
       media: '(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)'
      },
      g: {
       size: '1496x2048',
       media: '(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)'
      }
     }
     
    Author: 沈维忠 ( Shen Weizhong / Tony Stark ).
    
    Version: 0.1.0-alpha
    
    Creation Date: ~ ( Tony ).
    
    Last Update: 2014.06.18 13:57 ( Tony ).
    
    
    
    -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="亨元后台">
        <meta name="format-detection" content="telephone=no">
        <link rel="apple-touch-icon" href="../../apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../../apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../../apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../../apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../../apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../apple-touch-icon-152x152.png">
    <link rel="author" type="text/plain" href="../../humans.txt">
    <!-- Public stylesheet snippet.-->
    <!--
    Author: 沈维忠 ( Shen Weizhong / Tony Stark ).
    
    Version: 0.1.0-alpha
    
    Creation Date: ~ ( Tony ).
    
    Last Update: 2014.06.13 16:00 ( Tony ).
    
    
    
    -->
    <!-- #TODO[x]: Add Normalize.--><!--[if lt IE 9]>
    <link rel="stylesheet" href="../../public/ajax/libs/css/normalize/1.1.3/normalize.min.css"><![endif]--><!--[if gte IE 9]><!-->
    <link rel="stylesheet" href="../../public/ajax/libs/css/normalize/3.0.0/normalize.min.css"><!--<![endif]-->
    <!-- #TODO[x]: Add CSS Reset-->
    <link rel="stylesheet" href="../../public/ajax/libs/css/reset_css/2.0/css.reset.css"/>
    <!-- #TODO[x]: 'm.5i5dai.com' framework.-->
    <link rel="stylesheet" href="../../public/ajax/libs/css/m.5i5dai.com_framework/m.5i5dai.com_framework.css"/>
    <!-- Animate-->
    <link rel="stylesheet" href="//resource.fenqimall.com/ajax/libs/css/animate_css/animate.min.css"/>
    <!-- Private stylesheet snippet.-->
    <link rel="stylesheet" href="../../public/ajax/libs/css/m.5i5dai.com/index.css"/>
    <!-- Public script snippet.-->
    <!--
    Build Passing.
    Doctype: HTML5
    Jade: 1.3.0+
    #TODO[x]: Public Script ( Miscellaneous Function ), Define
     Have to be inserted into ' head ' tag
    #TODO[x]: Librarys
     HTML5 Shiv ( https://github.com/aFarkas/html5shiv )
      This script is the defacto way to enable use of HTML5 
      sectioning elements in legacy Internet Explorer.
     Modernizr (http://modernizr.com/)
      A JavaScript library that detects HTML5 and CSS3 features 
      in the user’s browser.
     maybe more ...
    #TODO[x]: Librarys Setup Example
     - var _default = {
      html5shiv: {
       active: true,
       script: true,
       condition: [true, 'if (gte IE 6)&(lte IE 9)]', '[endif'],
       _defer: 'false',
       url: staticCDNBaseUrl + 'js/html5shiv/3.7.2/html5shiv.min.js'
      },
      modernizr: {
       active: true,
       script: false,
       condition: [false, '', ''],
       _defer: 'true',
       url: staticCDNBaseUrl + 'js/modernizr/2.7.0/modernizr.min.js'
      },
      
      wow: {
       active: true,
       script: false,
       condition: [false, '', ''],
       _defer: 'true',
       url: staticBaseUrl + 'js/wow/0.1.6/wow.min.js'
       
      }
     }
     
    Author: 沈维忠 ( Shen Weizhong / Tony Stark ).
    
    Version: 0.1.0-alpha
    
    Creation Date: ~ ( Tony ).
    
    Last Update: 2014.06.13 13:33 ( Tony ).
    
    -->
    <!-- Default Iteration--><!--[if (gte IE 6)&(lte IE 9)]>
        <script>
          window.html5 = {'shivCSS': false};
          
          
          
        </script>
        <script src="//resource.fenqimall.com/ajax/libs/js/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
        <script src="//resource.fenqimall.com/ajax/libs/js/modernizr/2.7.0/modernizr.min.js"></script>
        <script src="../../public/ajax/libs/js/wow/0.1.6/wow.min.js"></script>
    <script>(function() {
  var init, isGteIE9, isIE;

  isIE = function() {
    var agent;
    agent = navigator.userAgent.toLowerCase();
    return !!agent.match(/msie/i);
  };

  isGteIE9 = function() {
    var agent, match, version;
    agent = navigator.userAgent.toLowerCase();
    match = agent.match(/msie\D*([\.\d]*)/i);
    version = 0;
    if (match && match[1]) {
      version = match[1];
    }
    return version >= 9;
  };

  init = function() {
    if (isIE()) {
      if (isGteIE9()) {
        new WOW().init();
      }
    } else {
      new WOW().init();
    }
  };

  init();

}).call(this);

    </script>
    <!-- Custom Iteration, Here-->
    <!-- Private javascript snippet which need to be put in the '<head/>' tag.-->
  </head>
  <body>
    <div itemscope itemtype="http://schema.org/WPHeader" class="relative row wow fadeInDown pageHeader"><a id="logo" href="//store.apple.com/cn/" hreflang="zh" title="我爱我贷网 · 微站点 · 首页 · 亨元金融" class="absolute block text-indent touch-action logo">我爱我贷网 · 微站点 · 首页 · 亨元金融</a><a id="siteNav" href="#" hreflang="zh" title="我爱我贷网 · 微站点 · 导航 · 亨元金融" class="absolute block text-indent touch-action unselectable siteNav">我爱我贷网 · 微站点 · 导航 · 亨元金融</a></div>
    <!-- Promo-->
    <div class="row promo wow fadeInDown"></div>
    <!-- Header-->
    <div class="row wow fadeInDown">
      <h3 class="small-24 columns">投资项目</h3>
    </div>
    <!-- Select-->
    <form id="frmFilter" name="frmFilter" method="POST" action="#" class="row wow fadeInDown selectArea frmFilter">
      <div class="small-12 columns border_box">
        <div style="overflow: hidden;" class="fullWidth round-box-3px">
          <select id="sltInvestAmmount" name="sltInvestAmmount" class="border_box round-box-3px slt sltInvestAmmount">
            <option value="">投资金额</option>
            <option value="">菜单一</option>
            <option value="">菜单二</option>
            <option value="">菜单三</option>
            <option value="">菜单四</option>
            <option value="">菜单五</option>
          </select>
        </div>
      </div>
      <div class="small-12 columns border_box">
        <div style="overflow: hidden;" class="fullWidth round-box-3px">
          <select id="sltInvestHorizon" name="sltInvestHorizon" class="border_box round-box-3px slt sltInvestHorizon">
            <option value="">投资期限</option>
            <option value="">菜单一</option>
            <option value="">菜单二</option>
            <option value="">菜单三</option>
            <option value="">菜单四</option>
            <option value="">菜单五</option>
          </select>
        </div>
      </div>
    </form>
    <!-- List-->
    <div class="row wow fadeInDown listTable">
      <!-- Item-->
      <div class="small-24 columns border_box listRow">
        <div class="fullWidth border_box clearfix listRowEffectArea">
          <div class="fullWidth clearfix listContent topContent">
            <div class="small-18 columns border_box proName">汇通-安心贷2000001111</div>
            <div class="small-6 columns border_box btnCheck"><a href="#" hreflang="zh" class="block fullWidth text-center round-box-3px">查看详情</a></div>
          </div>
          <div class="fullWidth clearfix listContent bottomContent">
            <div class="left border_box text-left">金额:￥9,999.00</div>
            <div class="left border_box text-center">期限:12个月</div>
            <div class="left border_box text-right">年化收益率:9.84%</div>
          </div>
        </div>
      </div>
      <!-- Item-->
      <div class="small-24 columns border_box listRow">
        <div class="fullWidth border_box clearfix listRowEffectArea">
          <div class="fullWidth clearfix listContent topContent">
            <div class="small-18 columns border_box proName">汇通-安心贷2000001111</div>
            <div class="small-6 columns border_box btnCheck"><a href="#" hreflang="zh" class="block fullWidth text-center round-box-3px">查看详情</a></div>
          </div>
          <div class="fullWidth clearfix listContent bottomContent">
            <div class="left border_box text-left">金额:￥9,999.00</div>
            <div class="left border_box text-center">期限:12个月</div>
            <div class="left border_box text-right">年化收益率:9.84%</div>
          </div>
        </div>
      </div>
      <!-- Item-->
      <div class="small-24 columns border_box listRow">
        <div class="fullWidth border_box clearfix listRowEffectArea">
          <div class="fullWidth clearfix listContent topContent">
            <div class="small-18 columns border_box proName">汇通-安心贷2000001111</div>
            <div class="small-6 columns border_box btnCheck"><a href="#" hreflang="zh" class="block fullWidth text-center round-box-3px">查看详情</a></div>
          </div>
          <div class="fullWidth clearfix listContent bottomContent">
            <div class="left border_box text-left">金额:￥9,999.00</div>
            <div class="left border_box text-center">期限:12个月</div>
            <div class="left border_box text-right">年化收益率:9.84%</div>
          </div>
        </div>
      </div>
      <!-- Item-->
      <div class="small-24 columns border_box listRow">
        <div class="fullWidth border_box clearfix listRowEffectArea">
          <div class="fullWidth clearfix listContent topContent">
            <div class="small-18 columns border_box proName">汇通-安心贷2000001111</div>
            <div class="small-6 columns border_box btnCheck"><a href="#" hreflang="zh" class="block fullWidth text-center round-box-3px">查看详情</a></div>
          </div>
          <div class="fullWidth clearfix listContent bottomContent">
            <div class="left border_box text-left">金额:￥9,999.00</div>
            <div class="left border_box text-center">期限:12个月</div>
            <div class="left border_box text-right">年化收益率:9.84%</div>
          </div>
        </div>
      </div>
      <!-- Item-->
      <div class="small-24 columns border_box listRow">
        <div class="fullWidth border_box clearfix listRowEffectArea">
          <div class="fullWidth clearfix listContent topContent">
            <div class="small-18 columns border_box proName">汇通-安心贷2000001111</div>
            <div class="small-6 columns border_box btnCheck"><a href="#" hreflang="zh" class="block fullWidth text-center round-box-3px">查看详情</a></div>
          </div>
          <div class="fullWidth clearfix listContent bottomContent">
            <div class="left border_box text-left">金额:￥9,999.00</div>
            <div class="left border_box text-center">期限:12个月</div>
            <div class="left border_box text-right">年化收益率:9.84%</div>
          </div>
        </div>
      </div>
      <!-- Item-->
      <div class="small-24 columns border_box listRow">
        <div class="fullWidth border_box clearfix listRowEffectArea">
          <div class="fullWidth clearfix listContent topContent">
            <div class="small-18 columns border_box proName">汇通-安心贷2000001111</div>
            <div class="small-6 columns border_box btnCheck"><a href="#" hreflang="zh" class="block fullWidth text-center round-box-3px">查看详情</a></div>
          </div>
          <div class="fullWidth clearfix listContent bottomContent">
            <div class="left border_box text-left">金额:￥9,999.00</div>
            <div class="left border_box text-center">期限:12个月</div>
            <div class="left border_box text-right">年化收益率:9.84%</div>
          </div>
        </div>
      </div>
      <!-- Item-->
      <div class="small-24 columns border_box listRow">
        <div class="fullWidth border_box clearfix listRowEffectArea">
          <div class="fullWidth clearfix listContent topContent">
            <div class="small-18 columns border_box proName">汇通-安心贷2000001111</div>
            <div class="small-6 columns border_box btnCheck"><a href="#" hreflang="zh" class="block fullWidth text-center round-box-3px">查看详情</a></div>
          </div>
          <div class="fullWidth clearfix listContent bottomContent">
            <div class="left border_box text-left">金额:￥9,999.00</div>
            <div class="left border_box text-center">期限:12个月</div>
            <div class="left border_box text-right">年化收益率:9.84%</div>
          </div>
        </div>
      </div>
      <!-- Item-->
      <div class="small-24 columns border_box listRow">
        <div class="fullWidth border_box clearfix listRowEffectArea">
          <div class="fullWidth clearfix listContent topContent">
            <div class="small-18 columns border_box proName">汇通-安心贷2000001111</div>
            <div class="small-6 columns border_box btnCheck"><a href="#" hreflang="zh" class="block fullWidth text-center round-box-3px">查看详情</a></div>
          </div>
          <div class="fullWidth clearfix listContent bottomContent">
            <div class="left border_box text-left">金额:￥9,999.00</div>
            <div class="left border_box text-center">期限:12个月</div>
            <div class="left border_box text-right">年化收益率:9.84%</div>
          </div>
        </div>
      </div>
      <div id="infiniteNext" class="hide"><a href="#" class="text-indent">下一页</a></div>
    </div>
    <div itemscope itemtype="http://schema.org/WPFooter" class="relative row wow fadeInDown pageFooter">
      <div class="absolute"><span itemprop="provider">亨元金融</span>旗下理财平台</div>
    </div>
    <script data-main="../../public/ajax/libs/js/m.5i5dai.com/index.min" src="//resource.fenqimall.com/ajax/libs/js/requirejs/2.1.14/require.min.js"></script>
    <!--
    Build Passing.
    Doctype: HTML5
    Jade: 1.3.0
    #TODO[x]: Google analytics References
     https://developers.google.com/analytics/ →_→ Optimize Your 
     Business Using the Google Analytics Platform
     https://developers.google.com/analytics/devguides/collection/
     Google Analytics provides easy to use APIs and SDKs to send 
     data to Google Analytics.
     http://mathiasbynens.be/notes/async-analytics-snippet →_→ Opti-
     mizing the asynchronous Google Analytics snippet
     
    Author: 沈维忠 ( Shen Weizhong / Tony Stark ).
    
    Version: 0.1.0-alpha
    
    Creation Date: ~ ( Tony ).
    
    Last Update: 2014.05.10 14:14 ( Tony ).
    
    -->
    <script>
      var trackID, domainID;
      trackID = ''; //eg: 'UA-34398778-4'.
      domainID = ''; //eg: 'studio7designs.com'.
      (function (i, s, o, g, r, a, m) {
       i['GoogleAnalyticsObject'] = r;
       i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments);
       },
       i[r].l = 1 * new Date();
       a = s.createElement(o),
       m = s.getElementsByTagName(o)[0];
       a.async = 1;
       a.defer = 1;
       a.src = g;
       m.parentNode.insertBefore(a,m)
      })(window, document, 'script','//www.google-analytics.com/analytics.js', 'ga');
      ga('create', trackID, domainID);
      ga('send', 'pageview');
    </script>
  </body>
</html>
<!-- ___________  ______    _____  ___   ___  ___-->
<!--("     _   ")/    " \  (\"   \|"  \ |"  \/"  |-->
<!-- )__/  \\__/// ____  \ |.\\   \    | \   \  /-->
<!--	\\_ /  /  /    ) :)|: \.   \\  |  \\  \/-->
<!--	|.  | (: (____/ // |.  \    \. |  /   /-->
<!--	\:  |  \        /  |    \    \ | /   /-->
<!--	 \__|   \"_____/    \___|\____\)|___/ 沈维忠 ( Shen Weizhong / Tony Stark ).-->
<!---->
<!--* Version: 0.1.0-alpha-->
<!---->
<!--* Creation Date: 2014.06.13 16:22 ( Tony ).-->
<!---->
<!--* Last Update: 2014.06.29 19:08 ( Tony ).-->